<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.nzc.cla.dao.ClaMngDao">
    <delete id="deleteByPrimarykey">
        delete from claMng where  id = #{key}
    </delete>
    <delete id="deleteList">
        delete from claMng where  id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectByPrimaryKey" resultType="cloud.nzc.model.po.ClaMng">
        select * from clamng where id = #{key}
    </select>
    <select id="selectAll" resultType="cloud.nzc.model.po.ClaMng">
        select * from clamng
    </select>
    <select id="selectByIds" resultType="cloud.nzc.model.po.ClaMng">
        select * from clamng where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <update id="updateByPrimarykey" >
        update  clamng set cname= #{t.cName} ,cremark=#{t.cRemark} where id= #{t.iD}
    </update>
    <select id="selectClaMngListByCondition" parameterType="cloud.nzc.model.vo.ClaMngVo" resultType="cloud.nzc.model.po.ClaMng">
        select
        c.cid as iD,
        c.cname as cName,
        c.cremark as cRemark
        from clamng c where 1=1
        <if test="claMngVo.iD !='' and claMngVo.iD !=null">
            and   c.cid=#{claMngVo.iD}
        </if>
        <if test="claMngVo.cName !='' and claMngVo.cName !=null">
            and   c.cname like  "%"#{claMngVo.cName}"%"
        </if>
        <if test="claMngVo.cRemark !='' and claMngVo.cRemark !=null">
            and   c.cremark  like "%"#{claMngVo.cRemark}"%"
        </if>
       limit #{claMngVo.pageStart}, #{claMngVo.limit}
    </select>
    <select id="selecTotalByCondition" parameterType="cloud.nzc.model.vo.ClaMngVo" resultType="java.lang.Integer">
        select
        count(*)
        from clamng c where 1=1
        <if test="claMngVo.iD !='' and claMngVo.iD !=null">
            and   c.cid=#{claMngVo.iD}
        </if>
        <if test="claMngVo.cName !='' and claMngVo.cName !=null">
            and   c.cname like  "%"#{claMngVo.cName}"%"
        </if>
        <if test="claMngVo.cRemark !='' and claMngVo.cRemark !=null">
            and   c.cremark  like "%"#{claMngVo.cRemark}"%"
        </if>
    </select>
</mapper>

